<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="icon" href="/media/logo.png">
    <title>PhotoShareApp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    {% load static %}
    <script defer="defer" src="{% static 'js/main.cec2e05b.js' %}"></script>
    <link href="{% static 'css/main.5150fcd1.css' %}" rel="stylesheet">
</head>
<body>
<div id="root"></div>
</body>
</html>